@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Noto+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
  /* color: #ffc400; */
  color: #072e2aa2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./wallpaper.jpg);
  background-size: cover;
}

.wrapper {
  width: 750px;
  padding: 2rem;
  background-color: #9dc4b557;
  border-radius: 10px;
}

.wrapper .input-field {
  z-index: -200;
  opacity: 0;
  position: absolute;
}

.wrapper .container {
  padding: 18px 26px 0;
  border-radius: 3px;
  border: 2px solid #ffaa0d86;
  box-shadow: 20px inset;
}

.wrapper .typing-text {
  max-height: 255px;
  overflow-y: auto;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.typing-text p {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 0.01rem;
}
.typing-text p span {
  position: relative;
}
.typing-text p span.active {
  color: #032b27;
  letter-spacing: 0.01rem;
}
.typing-text p span.active::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  opacity: 0;
  background: #032b27;
  text-shadow: 0 0 1px #032b27, 0 0 1px #fff, 0 0 10px #032b27ab;
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.typing-text p span.correct {
  color: #fff2d6;
  text-shadow: 0 0 1px #ffca1d, 0 0 1px #ffaa0d86, 0 0 6px #ffca1dab;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}
.typing-text p span.incorrect {
  color: #ce351b;
  text-shadow: 0 0 1px #ce351b, 0 0 1px #fff, 0 0 10px #ce351bab;
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
}

.container .content {
  display: flex;
  margin-top: 12px;
  padding: 10px 0;
  align-items: center;
  border-top: 2px solid #ffaa0d86;
  justify-content: space-between;
}

.content button {
  border: none;
  outline: none;
  width: 6rem;
  padding: 0.8rem 0;
  cursor: pointer;
  font-size: 1rem;
  background-color: #ffaa0d86;
  color: #032b27;
  border-radius: 3px;
  transition: transform 0.1s ease;
  font-family: 'Comfortaa', cursive;
}

.content button:active {
  transform: scale(0.96);
}

.content .result-details {
  display: flex;
  justify-content: space-between;
}

.result-details li {
  height: 30px;
  display: flex;
  list-style: none;
  align-items: center;
  margin: 10px;
  font-family: 'Comfortaa', cursive;
}

.result-details li:not(:first-child) {
  border-left: 2px solid #ffaa0d86;
  padding-left: 11px;
  display: flex;
}

.result-details li p {
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  color: #032b27;
}

.result-details li span {
  display: block;
  margin-left: 10px;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  color: #032b27;
}

.result-details li:not(:first-child) span {
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
}

.result-details li b {
  font-weight: 600;
  font-family: 'Comfortaa', cursive;
  color: #032b27;
}

@media screen and (max-width: 625px) {
  .wrapper .typing-text {
    max-height: 100vh;
    overflow-y: auto;
    padding: 0px;
  }

  .typing-text p {
    font-size: 1.3rem;
    text-align: justify;
    letter-spacing: 0.02rem;
  }
  .typing-text p span.correct {
    color: #fff2d6;
    text-shadow: 0 0 1px #ffca1d, 0 0 1px #ffaa0d86, 0 0 6px #ffca1dab;
    font-size: 1.3rem;
  }
  .typing-text p span.incorrect {
    color: #ce351b;
    text-shadow: 0 0 1px #ce351b, 0 0 1px #fff, 0 0 10px #ce351bab;
    font-size: 1.3rem;
  }

  .content .result-details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    justify-content: space-between;
  }

  .result-details li {
    margin: 0;
    background-color: #ffaa0d86;
    padding: 0;
    display: block;
    width: 8rem;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding-left: 0.6rem;
  }

  .result-details li:not(:first-child) {
    border-left: none;
    padding-left: 0.6rem;
    display: flex;
  }

  .result-details li p {
    font-size: 0.8rem;
    font-family: 'Comfortaa', cursive;
  }

  .result-details li span {
    display: block;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: 'Comfortaa', cursive;
    padding-right: 0.6rem;
  }
}
